/*reset CSS*/*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
	font-family: arial;
}

body{
	background-color: #DDD;	
	background-image: url(../img/bg.png);
}

body>header{
	background-color: #AAA;
}
body>header img{
	margin: 3px;
	width: 170px;
}
h1{
	padding-top: 20px;
}
body>footer{
	clear: both;	
	height: 50px;
	background-color: #555;
}

body>nav{
	overflow: hidden;
	padding-top: 3px;
	padding-bottom: 3px;
	background-image: url(../img/menu-bg.png);
	margin-bottom: 10px;
}
body>nav ul{
	list-style: none;
	overflow: hidden;
	display: table;
	margin: auto;
	background-repeat: no-repeat;
	padding-bottom: 6px;
}
body>nav ul li{
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
}
body>nav ul li a{
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 5px;
	font-size: 18px;
	color: black;
}
body>nav ul li a:hover{
	border-radius: 5px 5px 5px 5px;
	margin-bottom: -1px;
	color: rgb(190, 61, 61);
	text-decoration: underline;
}

#conteiner{
	margin: auto;
	max-width: 80%;
	margin-bottom: 10px;
}
#conteiner>article{
	float: left;
	min-height: 600px;
	margin: auto;
	width: 70%;
	background-color: white;
	margin-left: -2px;
}
#conteiner>article>h2{
	border-bottom: solid 1px green;
	margin-bottom: 10px;
	width: 93%;
	margin-left: 5px;
	padding-left: 20px;
	padding-top: 10px;
	color: green;
}
#conteiner>article p{
	text-indent: 1.5em;
	padding: 10px;
}
#conteiner>aside{
	float: left;
	width: 29%;
	margin-left: 0.35%;
	background-color: white;
}
#conteiner>aside>h2{
	text-indent: 0.2em;
}
#conteiner>aside>p{
	padding: 5px;
	text-indent: 1.5em;
}
#conteiner>aside>strong{
	padding: 10px;
	font-size: 12px;
	color: #0caa60;
	text-align: center;
	width: 100%;
	display: block;
}

#facebook{
	background-color: #e9eaed;
	min-height: 100px;
	margin-bottom: 10px;
}

.comentarios{
	padding: 10px;
	min-height: 100px;
	background-color: #e9eaed;
	margin-bottom: 30px;
}
.comentarios strong{
	padding-left: 10px;
	text-decoration: underline;
	color: #3b5998;
}

.formulario{
	margin: auto;
	font-size: 24px;
}
.formulario tr{
	height: 56px;
}
.formulario td:first-child{
	text-align: right;
}
.formulario input{
	border-radius: 5px;
}
.formulario input[type=text]{
	font-size: 24px;
	background-color:  rgba(0, 255,0,0.2);	
	padding: 2px;
}
.formulario input[type=submit]{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border: solid 1px;
	background-color: #0caa60; 
}

.bg-menu-default{ background-image: url(../img/menu-default.png); }
.bg-menu-home{ background-image: url(../img/menu-home.png); }
.bg-menu-acervo{ background-image: url(../img/manu-acervo.png); }
.bg-menu-eventos{ background-image: url(../img/menu-eventos.png); }
.bg-menu-historia{ background-image: url(../img/menu-historia.png); }
.bg-menu-leitura{ background-image: url(../img/menu-leitura.png); }

.gb-color1{	background-color: #0caa60;}
.border-color1{	border: 1px solid #0caa60;}
.shadow{ box-shadow: 0 0 15px;}
.toLeft{ float: left;}
.toRight{ float: right;}
.toCenter{ margin: auto; display: block;}
.hide{ display: none;}

.artigo p{
	padding: 10px;
	text-indent: 1.5em;
}
.artigo img{
	padding: 10px;
	max-width: 90%;
	margin: 5px;
}
.artigo .toCenter{
	margin: auto;
}

.view-livro{
	width: 86%;
	margin-left: 6px;
	overflow: hidden;
	margin: auto;
	margin-bottom: 5px;
}
.view-livro img{
	width: 120px;
	padding: 5px;
	background-color: #f0f0f0;
	border: solid 1px #ADADAD;
	margin: 6px;
	float: left;
}
.view-livro h3{
	color: green;
}

.view-evento{
	width: 86%;
	margin-left: 6px;
	overflow: hidden;
	margin: auto;
	margin-bottom: 5px;
	border-style: dashed;
	border-left: none;
	border-top: none;
	border-right: none;
}
.view-evento img{
	width: 40%;
	padding: 5px;
	background-color: #f0f0f0;
	border: solid 1px #ADADAD;
	margin: auto;
	margin-bottom: 5px;
	display: block;
}
.view-evento h3{
	color: green;
	padding-left: 10px;
}
.view-evento p{
	padding: 10px;
}

#leitura h3{
	text-align: center;
	font-size: 34px;
}
#leitura img{
	margin: auto;
	display: block;
	padding: 5px;
	background-color: #f0f0f0;
	border: 3px double #0caa60;
	max-height: 300px;
}

#acervo{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#acervo header{
	position: absolute;
	top: 0;
	width: 100%;
}
#acervo nav{
	position: absolute;
	top: 90px;
	width: 100%;
}
#acervo footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#acervo #conteiner{
	margin: auto;
	margin-top: 146px;
	overflow: hidden;
	max-width: 90%;
}
#acervo #conteiner>article{
	float: left;
	min-height: 500px;
	background-color: white;
	margin: 0;
}
#acervo #conteiner>article>section{
	width: 90%;
	margin: auto;
	margin-top: 20px;
}
#acervo #conteiner>article>section h2{
	text-align: center;
}
#acervo #conteiner>article>section div{
	width: 90%;
	margin: auto;
	margin-bottom: 15px;
	display: block;
	border: solid 1px;
	overflow: auto;
	padding: 5px;
}
#acervo #conteiner>article>section div img{
	border: solid 1px green;
	background-color: #f0f0f0;
	max-height: 240px;
	padding: 5px;
	margin: 5px;
	float: left
}
#acervo #conteiner>article>section table{
	margin: auto;
}

#acervo #conteiner>article>section table td:first-child{
	text-align: right;
}

#acervo #conteiner>aside{
	float: right;
	height: 500px;
	width: 25%;
	margin-left: 0;
	background-color: white;
}
#acervo #conteiner>aside h3{
	text-align: right;
	padding-right: 70px;
}
#acervo #conteiner>aside ul{
	list-style: none;
	max-height: 95%;
	overflow-y: auto;
	overflow-x: hidden;
	width: 64%;
	float: right;
	padding-left: 40px;
}

#menu-acervo .letra{
	text-align: center;
	padding: 5px;
	background: none;
}
#menu-acervo li{
	padding: 5px;
	background-image: url(../img/0002.png);
	background-repeat: no-repeat;
	width: 180px;
}
#menu-acervo li a{
	text-transform: capitalize;
	display: block;
	color: white;
	text-decoration: none;
	padding-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 90%;
}

.menu-2{
	width: 350px;
    color: #000000;
}
.menu-2>*{
	margin: 0;
	padding: 0;
    border: none;
}
.menu-2 p{
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.menu-2>h2{
	display: block;
	width: 100%;
	height:8.333%;
}
.menu-2 .main{
	height: 90%;
	overflow: hidden;
	height:91.633%;
}
.menu-2 #source{
	display: none;
}
.menu-2>.main>#view{
	list-style: none;
	height: auto;
	padding: 10px;
}
.menu-2>.main>#view>li{
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: dashed 2px rgba(0, 71, 0, 0.32);
	position: relative;
	display: block;
	top: 0;
}
.menu-2>.main>#view>li>a{
	text-decoration: none;
	width: 100%;
	display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgba(0, 71, 0, 0.67);
}
.menu-2>.main>#view>li>a:hover{
	background-color:  rgba(0, 255,0,0.2);
}
.menu-2>.main>#view>li>a:visited{
    color: rgba(0, 71, 0, 0.32);
}
.menu-2>.main>#view>li>a>p{
	width: 100%;
}
.menu-2>.main>#view>li>a>.img_data{
	display: none;
}

.menu-2{
	position: relative;
	height: 300px;
	width: 300px;
}


/*
	Responsive Desingn
	@media only screen and (max-width: 480px) {
		article{
			width: 100%;
			float: none;
		}
		aside{
			width: 100%;
			float: none;
		}
	}

	@media only screen and (min-width: 480px) and (max-width: 900px) {
		article{
			background-color: green;
		}
	}
*/